<ion-content>
	<div class="w-full h-full p-4 bg-light">
		<div class="flex items-center py-4 flex-col">
			<div class="flex items-center justify-end w-full">
				<ion-button
					class="close-button"
					color="medium"
					shape="round"
					fill="solid"
					(click)="cancel()"
				>
					<ion-icon slot="icon-only" name="close"></ion-icon>
					<ion-ripple-effect></ion-ripple-effect>
				</ion-button>
			</div>
			<h2 class="text-3xl font-bold text-primary text-center">
				Cambio de contraseña
			</h2>
		</div>
		<form class="px-12" id="form-category" action="">
			<input-password
				name="currentPassword"
				label="Contraseña actual"
				inputName="currentPassword"
				[(inputModel)]="currentPassword"
				(inputModelChange)="handleChange()"
				*ngIf="type !== 'changePasswordAdmin'"
			>
			</input-password>
			<input-password
				name="newPassword"
				label="Nueva contraseña"
				inputName="newPassword"
				[(inputModel)]="newPassword"
				(inputModelChange)="handleChange()"
			>
			</input-password>

			<div class="my-6">
				<div
					class="flex items-center"
					*ngFor="let requirement of passwordRequirements"
				>
					<ion-icon
						name="{{ requirement.icon }}"
						class="text-2xl mr-2 {{
							requirement.icon === 'remove-circle-outline'
								? 'text-gray-700'
								: 'text-green-600'
						}}"
					></ion-icon>
					<p>{{ requirement.title }}</p>
				</div>
			</div>
			<div class="flex justify-around">
				<app-button
					class="w-[200px]"
					klass="secondary large"
					title="Cancelar"
					color="medium"
					(click)="cancel()"
				>
				</app-button>
				<app-button
					class="w-[200px]"
					klass="primary large"
					title="Guardar contraseña"
					[disabled]="disabled"
					(clicked)="saveUser()"
          [load]="loading"
				>
				</app-button>
			</div>
		</form>
	</div>
</ion-content>
