<div class="bg-light w-full h-full flex justify-center items-center">
	<div class="m-8 sm:w-[600px] w-full">
		<div *ngIf="!isSuccesfullyChanged">
			<img
				src="./assets/img/logo.png"
				alt="Logo de claro"
				class="w-36 left-0 right-0 m-auto mb-3"
			/>
			<h1 class="text-3xl font-bold text-center text-primary">
				Cambiar contraseña
			</h1>
		</div>
		<form
			class=""
			*ngIf="!isSuccesfullyChanged && !forgotPasswordService.isExpiredToken"
		>
			<input-password
				name="newPassword"
				label="Contraseña nueva"
				inputName="newPassword"
				[(inputModel)]="newPassword"
				(inputModelChange)="handleChange()"
			>
			</input-password>

			<div class="my-6">
				<div
					class="flex items-center"
					*ngFor="let requirement of passwordRequirements"
				>
					<ion-icon
						name="{{ requirement.icon }}"
						class="text-2xl mr-2 {{
        							requirement.icon === 'remove-circle-outline'
        								? 'text-gray-700'
        								: 'text-green-600'
        						}}"
					></ion-icon>
					<p class="text-dark">{{ requirement.title }}</p>
				</div>
			</div>

			<div class="flex flex-wrap-reverse justify-between w-full">
				<app-button
					class="md:w-[200px] w-full m-2"
					klass="primary large"
					title="Cancelar"
					(clicked)="router.navigate(['/login'])"
					color="medium"
				>
				</app-button>
				<app-button
					class="md:w-[200px] w-full m-2"
					klass="primary large"
					title="Cambiar contraseña"
					[disabled]="disabled"
					(clicked)="savePassword()"
					[load]="loading"
				>
				</app-button>
			</div>
		</form>

		<app-successful
			*ngIf="isSuccesfullyChanged && !forgotPasswordService.isExpiredToken"
			rotule="¡Tu contraseña se ha restablecido exitosamente!"
		>
			Accede a la cuenta con tu nueva contraseña.
		</app-successful>

		<div *ngIf="forgotPasswordService.isExpiredToken" class="pt-4">
			<p class="mb-4 w-full text-center text-dark">
				El token ha expirado. Por favor genera uno nuevo
			</p>
			<app-button
				class="w-[200px]"
				klass="primary large"
				title="Entendido"
				(clicked)="router.navigate(['/forgot-password'])"
			>
			</app-button>
		</div>
	</div>
</div>
