ion-checkbox {
	--size: 16px;
	--background-checked: red;
}

ion-checkbox::part(container) {
	border-radius: 4px;
	border: 2px solid red;
}

.itemCheckbox {
	// --padding: 0px;
	--background: none;
	height: 30px;
}

ion-item {
	--background-hover: none;
}
