<div class="w-full">
  <app-header class="" title="Categorías"></app-header>
  <div
    class="min-h-screen flex-col h-screen px-5 md:px-10 pb-11 mt-[50px] sm:mt-0 w-full flex claro-oym-scroll overflow-x-hidden overflow-y-auto flex-1 scroll-smooth">
    <section class="w-full flex flex-col">
      <div class="flex md:flex-row flex-col w-full justify-between items-start md:h-[80px] h-auto">
        <app-search placeholder="Buscar" (valueChange)="searchCategories($event)"></app-search>
        <div class="flex md:w-[200px] w-full md:mt-0 mt-8">
          <app-button (clicked)="openCategoryModal()" class="md:w-[200px] w-full" klass="primary large"
            title="Agregar categoría"></app-button>
        </div>
      </div>
      <div class="flex"></div>
    </section>
    <app-table [rows]="categoryService.categoriesValue.rows" [columns]="columns" [listOptions]="listOptions"
      [total]="categoryService.categoriesValue.pages" [current]="categoryService.currentPage" [perPage]="limit"
      (changePage)="onChangePage($event)" [count]="categoryService.categoriesValue.count" [loading]="loading">
      <ng-template let-row>
        <!-- <p [class]="row.key === 'description' ? 'sm:w-[250px] md:w-[300px] lg:w-[350px] sm:truncate':''">{{row.value}}
        </p> -->
        <p class="whitespace-pre-wrap">{{row.value}}</p>
      </ng-template>
    </app-table>
  </div>
</div>