<ion-content fullscreen="true" class="relative">
	<section
		class="text-black bg-light absolute left-0 top-0 w-full h-full flex justify-center items-center"
	>
		<div *ngIf="!sent" class="bg-light m-8 sm:w-[600px] w-full">
			<header class="text-center">
				<img
					src="./assets/img/logo.png"
					alt="Logo de claro"
					class="w-36 left-0 right-0 m-auto mb-3"
				/>
				<h1 class="text-3xl text-primary mb-2 break-words font-bold">
					Restablecer contraseña
				</h1>
				<p>
					Ingresar el correo electrónico relacionado a tu cuenta para
					restablecer tu contraseña
				</p>
			</header>
			<ion-item class="claro-oym-input" mode="md" lines="none">
				<ion-label position="stacked">Correo electrónico</ion-label>
				<ion-input
					(keypress)="keyEnterEmail($event)"
					name="email"
					type="email"
					[(ngModel)]="email"
					placeholder="Ingresar correo electrónico"
				></ion-input>
				<p
					*ngIf="invalidEmail"
					class="text-primary w-full text-center text-base font-extrabold my-2"
				>
					Ingrese un correo valido
				</p>
			</ion-item>
			<div class="flex flex-wrap-reverse w-full justify-center mt-2">
				<app-button
					color="medium"
					title="Cancelar"
					class="md:w-[200px] w-full m-2"
					(clicked)="goToLogin()"
				></app-button>
				<app-button
					class="md:w-[200px] w-full m-2"
					klass="primary"
					title="Restablecer contraseña"
					(clicked)="sendEmail()"
					[load]="loading"
				></app-button>
			</div>
		</div>
		<app-successful
			*ngIf="sent"
			rotule="¡Enlace enviado!"
			(clicked)="reset()"
		>
			Hemos enviado un enlace a tu correo electrónico para restablecer tu
			contraseña, revisa tu bandeja de correo.
		</app-successful>
	</section>
</ion-content>
