<ion-item class="pt-2" mode="md" lines="none">
	<ion-label position="stacked">{{ label ? label : 'Contraseña' }}</ion-label>
	<div class="input">
		<ion-input
			#passwordEyeRegister
			[type]="type"
			[name]="name ? name : 'password'"
			[(ngModel)]="inputModel"
			(ngModelChange)="inputModelChange.emit(inputModel)"
			required
			(keypress)="enterPress($event)"
		>
		</ion-input>
		<span
			class="btn_eye_icon cursor-pointer"
			item-end
			(click)="toogle($event)"
		>
			<ion-icon [name]="type === 'text' ? 'eye-off' : 'eye'"></ion-icon>
		</span>
	</div>
</ion-item>
