<ion-content fullscreen="true">
  <div class="w-full h-full flex flex-row">
    <div class="w-[65%] md:flex hidden">
      <div
        class="bg-no-repeat bg-cover w-full h-full flex flex-row select-none font-avenir bg-light dark:bg-dark text-dark"
        [ngStyle]="{'background':'url(' + images[imagePosition] + ')', 'background-size':'cover', 'background-repeat':'no-repeat'  }">

      </div>
    </div>
    <div class="w-full md:w-[35%] flex flex-col justify-center p-8 pt-3 items-center bg-white dark:bg-light">
      <div class="header text-center mb-8">
        <div class="logo flex my-3 text-center justify-center items-center">
          <img class="w-40 h-auto" src="assets/img/logo.png" alt="logo" />
        </div>
      </div>
      <h1 class="text-lg font-bold">Iniciar sesión</h1>
      <h2 class="text-sm mt-2">
        Continuar a
        <strong>Claro</strong>
      </h2>

      <form id="login-form" class="gridia-form mt-2 w-full md:w-[70%]" (ngSubmit)="errorsControl()==0?login():null"
        #form>
        <div class="justify-center text-center w-full">
          <ion-item class="claro-oym-input" mode="md" lines="none">
            <ion-label position="stacked">Correo electrónico</ion-label>
            <ion-input [(ngModel)]="credentials.email" name="email" type="email"
              (keypress)="keyEnterEmail($event)"></ion-input>
          </ion-item>
          <input-password name="password" label="Contraseña" [(inputModel)]="credentials.password"
            (keyEnterPress)="keyEnterPassword()">
          </input-password>

          <div class="mt-2" *ngIf="invalidCredentials">
            <span class="text-red-500 font-extrabold text-xs">{{message}}
            </span>
          </div>

          <div class="flex mt-7 w-full flex-col">
            <app-button [load]="loading.loading" title="Iniciar sesión" klass="primary" form="login-form"></app-button>
          </div>
        </div>
      </form>
      <div class="flex w-full text-right items-center justify-center mt-10">
        <a class="text-xs font-normal cursor-pointer hover:underline" routerLink="/forgot-password">
          ¿Has olvidado tu contraseña?
        </a>
      </div>
    </div>
  </div>
</ion-content>