<ion-item
	class="claro-oym-input relative overflow-visible mb-3 z-50"
	mode="md"
	lines="none"
>
	<ion-label position="stacked">{{ label }}</ion-label>
	<ion-input
		[placeholder]="placeholder"
		[name]="placeholder"
		[(ngModel)]="inputValue"
		debounce="300"
		(ionChange)="search()"
		(keydown)="keyDownSearch($event)"
	></ion-input>
	<ion-list
		class="w-full absolute top-full rounded-xl"
		*ngIf="results.length > 0"
	>
		<div
			*ngFor="let result of results; let i = index"
			(click)="clickItem(result)"
			class="cursor-pointer w-full hover:bg-red-200 z-50"
			[ngClass]="{ 'bg-red-200': selectedResult == i }"
		>
			<p
				class="w-full text-sm font-bold py-1.5 pl-5"
				mode="md"
				color="primary"
			>
				{{ result }}
			</p>
		</div>
	</ion-list>
</ion-item>
